* {
  box-sizing: border-box;
}
h2 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
.jumbotron {
  background: #337AB7;
  margin-bottom: 24px;
}
.jumbotron .city {
  font-size: 18px;
}
.jumbotron .lat,
.jumbotron .lon {
  font-size: 12px;
}
.jumbotron .degree .num {
  font-size: 50px;
  float: left;
}
.jumbotron .forecast-icon {
  margin-bottom: -18px;
}
.jumbotron .forecast-content > span {
  margin: 10px;
  float: left;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.jumbotron .forecast-content > span > img {
  margin-right: 10px;
}
.well {
  background: #BCE9F1;
}
