html {
	height: 101%;
}

a.well {
	display: block;
	max-height: 340px;
	padding: 10px;
}
a.well .panel {
	margin-bottom: 10px;
}
a.well .title {
	font-size: 11px;
	padding: 5px;
}
a.well .desc {
	font-size: 11px;
    margin-bottom: 0px;
    max-height: 122px;
    overflow: hidden;
	padding: 5px;
}
a.well .price {
	float: right;
	padding: 5px;
}

#etsy-status  {
	margin: 0 0 10px 0;
}
#etsy-status > span {
	color: #0087FF;
}
#etsy-logo {
    background: url(https://www.etsy.com/assets/dist/images/etsylogo.20160125205620.png) 0 0 no-repeat;
    width: 75px;
    height: 36px;
    float: right;
    margin-right: 47px;
}
#etsy-logo:after {
    content: 'FIND';
    font-size: 14px;
    position: absolute;
    bottom: -4px;
    right: 35px;
    font-weight: 600;
}